*,
* ::after,
* ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ol,
ul,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
body {
    height: 100%;
    font-size: 16px;
    background-color: #f7f3e0;
}
/* =============================== */
.header_container {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 20px 15px;
    margin: 0 auto;
}
.main_container {
    align-items: center;
    margin: 0 auto;
    align-self: center;
}
.aside-input-text {
    max-width: 200px;
    max-height: 30px;
    padding: 5px;
    border: 2px solid #5e510f;
    border-radius: 15px;
}
.main-input-text {
    min-width: 500px;
    max-height: 30px;
    padding: 5px;
    border: 2px solid #5e510f;
    border-radius: 15px;
}
.aside-input-submit {
    max-width: 150px;
    max-height: 30px;
    padding: 5px;
    border: 2px solid #5e510f;
    border-radius: 15px;
}
.main-input-submit {
    max-width: 150px;
    max-height: 30px;
    padding: 5px;
    border: 2px solid #5e510f;
    border-radius: 15px;
}
.main-input-submit, .aside-input-submit:hover{
    background-color: #8a7920;
}

.bossphoto {
    max-width: 235px;
    max-height: 344px;
    align-self: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 20px 15px;
    gap: 35px;
}
